.container-fluid
{
    background-image: url("../../assets/image/loginback2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
   font-family: 'Roboto', sans-serif;
   
}
.card{
margin-top: 150px;
margin-bottom: 50px;
height: 400px;
background-color: transparent;
border-radius: 20px;
}


input{
   width:60%;
   border: none;
   border-bottom: 2px solid gray;
   
}
label
{
    width:50%;
}
.custom-group
{
    display: flex;
    flex-direction: column;
}
